.fit-cover {
  object-fit: cover;
}

p {
}

#bb {
  background: linear-gradient(white,grey)no-repeat;
}

#sec1 {
}

#idex {
  color: rgb(2,10,18);
}

#b1 {
  text-decoration: none;
}

#ct {
}

#bd {
  background: linear-gradient(135deg, #87CEEB, #f1e4a0);
}

#bd1 {
  background: linear-gradient(135deg, #87CEEB, #f1e4a0);
}

#lk {
  text-decoration: none;
}

